@import url("https://fonts.googleapis.com/css?family=Fauna+One|Oxygen:400,300,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.Main{
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  align-items: stretch; 
}

