.NoteList {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  width: 30rem;
  box-sizing: border-box;
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/bd/da/47/bdda47151b710aec794e3264405c3863.jpg");
}
/*i.fa-trash-o {
  cursor: pointer;
  color: #ccc;
  vertical-align: middle;
  margin-left: 1em; 
}

i.fa-trash-o:hover {
    color: #999; 
}*/

@media (max-width: 800px) {
  .NoteList {
    width: 20rem;
  }
}

.NoteList h3 {
  /*color: #999;*/
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: Oxygen;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 20px 2rem;
}

ul#notes {
  border-top: 1px solid #eee;
  overflow-y: scroll;
  height: calc(100vh - 72px);
  list-style: none;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  color: #999;
}

ul#notes > a > li {
  height: 150px;
  font-size: 90%;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(196, 190, 170, 0.8);
}

ul#notes > a > li,
ul#notes > a > li * {
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

ul#notes a li .note {
  border-top: 1px solid #eee;
  margin: 0 2rem;
  padding: 1rem 4px; 
}
ul#notes a li:first-of-type .note {
  border-top: none; 
}
ul#notes a li:hover {
  background-color: #008BF8;
}
ul#notes a li:hover,
ul#notes a li:hover .note * {
  color: white !important;
  text-decoration: none !important;
}
ul#notes a li:hover .note {
  border-color: transparent;
}
ul#notes a li .note-title {
  color: rgb(68, 65, 55);
  font-family: "Fauna One";
  font-size: 120%;
  font-weight: 400;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
ul#notes a li .note-body {
  height: 54px;
  overflow: hidden;
  margin-top: 0.5rem;
}
ul#notes a li .note-body * {
  font-size: 1em !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #000 !important;
  background: none;
  border: none;
}
ul#notes a li .note {
  display: block;
  height: 120px;
  padding: 1em;
  text-decoration: none;
}
ul#notes a li .note .delBtn {
  padding: 1rem;
  background-color: rgba(124, 117, 74, 0.8);
  border-radius: 4px;

}