.NoteList {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  width: 30rem;
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/bd/da/47/bdda47151b710aec794e3264405c3863.jpg");
  /* background-size: 80vh; */
  background-size: 140% 100%;

}

@media (max-width: 800px) {
  .NoteList {
    width: 20rem;
  }
}

.NoteList h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.7rem;
  font-family: 'Pirata One', cursive;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 20px 2rem;
}

ul#notes {
  border-top: 1px solid #eee;
  overflow-y: scroll;
  height: calc(96vh - 72px);
  list-style: none;
  margin-top: 1em;
  padding: 0;
  width: 100%;
  color: #999;
}

ul#notes a,
ul#notes a:link,
ul#notes a:visited,
ul#notes a:hover,
ul#notes a:active {
  color: inherit;
  text-decoration: none;
}

ul#notes > a > li {
  height: 100px;
  font-size: 80%;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(232, 207, 139, 0.65);
}

ul#notes > a,
ul#notes > a * {
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

ul#notes li .note {
  border-top: 1px solid #eee;
  margin: 0 2rem;
  padding: 1rem 4px; 
}
ul#notes a:first-of-type li .note {
  border-top: none;
}
ul#notes li:hover {
  background-color: rgba(112, 99, 65, 0.8);
}
ul#notes li:hover,
ul#notes li:hover .note * {
  color: white !important;
  text-decoration: none !important;
}
ul#notes li:hover .note {
  border-color: transparent;
}
ul#notes li .note-title {
  color: #000;
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 165%;
  font-weight: 400;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
ul#notes li .note-body {
  font-size: 80%;
  height: 54px;
  overflow: hidden;
  margin-top: 0.5rem;
}
ul#notes li .note-body * {
  font-size: 14px !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #47402e !important;
  background: none;
  border: none;
}
ul#notes li .note {
  display: block;
  height: 100px;
  padding: 1em;
  text-decoration: none;
}

