@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|Pirata+One');

.NoteForm {
  flex-grow: 1;
  padding: 0 3rem;
  background-image: url("http://www.powerpointhintergrund.com/download/grunge-parchment-background-3395")
}
.NoteForm .form-actions {
  padding-top: 1rem;
  margin-left: -2rem;
  display: flex;
  align-content: center;
}
.NoteForm .title-text{
  font-family: 'Pirata One', cursive;
  font-size: 40px;
  background: transparent;
}
.NoteForm .body-text{
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 25px;
  background: transparent;
}
.NoteForm button {
  border: 8px double rgba(81, 22, 21, 0.8);
  border-radius: 50%;
  background: rgba(101, 16, 10, 0.8);
  padding: 0;
}
.NoteForm button:hover{
  border: 8px double rgba(81, 22, 21, 1);
  background: rgba(101, 16, 10, 1);
  box-shadow: 0px 3px rgb(45, 12, 11);
}
.NoteForm button i.fa {
  color: rgba(187, 141, 47, 1);
  font-size: 27px;
  margin: 0;
  padding:15px;
}
.NoteForm button i.fa:hover{
  color: rgba(229, 172, 57, 1);
}
.NoteForm form {
  margin: 0 auto;
  max-width: 80rem;
}
input[name="title"] {
  border: none;
  font-size: 200%;
  font-family: "Fauna One";
  color: #302506;
  font-weight: 400;
  width: 100%;
}
input[name="title"] {
  outline: none;
}
input[name="body"]{
  color:#302506;
}
textarea {
  border-color: rgba(48, 37, 6, 0.8);
  width: 100%;
  height: calc(100vh - 185px);
  font-size: 1.3em;
}