
.Sidebar {
  width: 60px;
  left:0px;
  background-color: rgba(48, 37, 0, 0.9);
  padding: 0.5rem 0; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  box-sizing: border-box;
}
.Sidebar .logo {
  font-family: "Fauna One";
  color: #666;
  font-size: 3rem;
}
.Sidebar .logo img {
  width: 30px;
  padding-left: 4px;
}

.Sidebar .new-note {
  background-color: transparent;
  border: 0;
  color: #008BF8;
  cursor: pointer;
  margin-top: 2rem;
  position: relative;
  width: 60%; }
  .Sidebar .new-note img {
    position: absolute;
    left: 0;
    width: 100%;
    transition: opacity 0.25s ease-in-out; }
    .Sidebar .new-note:hover img.outline {
      opacity: 0; }

.SignOutBtn{
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-top: 2rem;
  transition: opacity 0.25s ease-in-out;
}
